exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.rst
include LICENSE
include setup.cfg
include shipami-complete.sh
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
